<!DOCTYPE html>
<html>
<head>
	<title>Files</title>
	<link rel="stylesheet" type="text/css" href="css/main.css">
</head>
<body ng-app="myApp" ng-controller="myCtrl">
	<!-- <button class="linkdatabase" ng-click="linkDatabase()">link</button> -->
	<a href="project/linkDatabase?user=XX">linkrb</a>
</body>
<script type="text/javascript" src="js/angular.js"></script>
<script type="text/javascript" src="js/app.js"></script>
</html>